<nav class="bg-white shadow-md fixed top-0 left-0 right-0 z-50">
    <div class="container mx-auto px-4 py-2">
      <div class="flex justify-between items-center h-16">
        
        <!-- Brand Section -->
        <div class="flex items-center space-x-4">
          <a routerLink="/" class="text-2xl font-bold text-gray-800 hover:text-blue-500 transition-colors duration-300">SQLI SHOP</a>
        </div>
        
        <!-- Navigation Links -->
        <div class="hidden md:flex items-center space-x-8">
          <a routerLink="/products" class="text-gray-600 hover:text-gray-800 transition duration-300">Products</a>
          <a routerLink="/about" class="text-gray-600 hover:text-gray-800 transition duration-300">About</a>
          <a routerLink="/contact" class="text-gray-600 hover:text-gray-800 transition duration-300">Contact</a>
        </div>
        
        <!-- Cart Icon with Item Count -->
        <div class="relative flex items-center space-x-4">
          <a routerLink="/cart" class="relative text-gray-600 hover:text-gray-800 transition duration-300">
            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l3 9h12l3-9h2M3 3l2 16h14l2-16M7 10h10m-4 5h4m-2 5h6" />
            </svg>
            <span *ngIf="itemCount() > 0" class="absolute -top-2 -right-2 bg-red-500 text-white text-xs rounded-full h-5 w-5 flex items-center justify-center">
              {{ itemCount() }}
            </span>
          </a>
        </div>
        
        <!-- Hamburger Menu for Mobile -->
        <div class="md:hidden flex items-center space-x-4">
          <button (click)="toggleMenu()" class="text-gray-600 hover:text-gray-800 focus:outline-none">
            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </button>
        </div>
      </div>
      
      <!-- Mobile Menu -->
      <div *ngIf="isMenuOpen" class="md:hidden bg-white shadow-md">
        <div class="flex flex-col items-center space-y-4 py-4">
          <a routerLink="/products" class="text-gray-600 hover:text-gray-800">Products</a>
          <a routerLink="/about" class="text-gray-600 hover:text-gray-800">About</a>
          <a routerLink="/contact" class="text-gray-600 hover:text-gray-800">Contact</a>
        </div>
      </div>
    </div>
    
  </nav>
  
  <div class="container mx-auto px-4 py-8 pt-16"> <!-- Add pt-16 for spacing -->
    <!-- Your main content goes here -->
  </div>
  